  div#container
	{
	   width: 1000px;
	   height: 400px;
	   position: relative;
	   margin: 0 auto 0 auto;
	   text-align: left;
	   /*border: 1px solid #808080*/
	}
	body
	{
	   background-color: #FFFFFF;
	   color: #000000;
	   font-family: Arial;
	   font-weight: normal;
	   font-size: 13px;
	   line-height: 1.1875;
	   margin: 0;
	   text-align: center;
	}
	#LabelQuadrado
	{
	   border: 1px solid #808080;
	   background-color: transparent;
	   background-image: none;
	   color :#000000;
	   font-family: Arial;
	   font-weight: normal;
	   font-size: 13px;
	   padding: 4px 4px 4px 4px;
	   margin: 0;
	   text-align: left;
	   vertical-align: top;
	}
	#textoFrase 
	{
	   background-color: transparent;
	   background-image: none;
	   border: 0px solid #000000;
	   padding: 0;
	   margin: 0;
	   text-align: left;
	}
	#textoFrase div
	{
	   text-align: left;
	}
	#boxCodigo
	{
	   border: 1px solid #CCCCCC;
	   border-radius: 4px;
	   background-color: #FFFFFF;
	   background-image: none;
	   color :#A9A9A9;
	   font-family: Arial;
	   font-weight: normal;
	   font-size: 13px;
	   line-height: 17px;
	   padding: 4px 4px 4px 4px;
	   margin: 0;
	   text-align: left;
	}
	#boxCodigo:focus
	{
	   border-color: #66AFE9;
	   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
	   outline: 0;
	}
	#botaoLocalizar
	{
	   border: 0px solid #CCCCCC;
	   color :#FFFFFF;
	   font-family: Arial;
	   font-weight: bold;
	   font-size: 13px;
	   -webkit-appearance: none;
	   margin: 0;
	   background-color: #FF0000;
	}

	#botaoLocalizar:hover {
	   border: 1px solid #ffb3b3;
	   background-color:  #ff4d4d;
	   border-color: #ffb3b3;
	   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
	   outline: 0;
	}

	#frameRastreie
	{
	   border: 0px solid transparent;
	   margin: 0;
	}
